

#Table_01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1920px;
	height:1080px;
}

#id1920x1080-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1920px;
	height:42px;
}

#id1920x1080-02 {
	position:absolute;
	left:0px;
	top:42px;
	width:1317px;
	height:356px;
}

#instagram {
	position:absolute;
	left:1317px;
	top:42px;
	width:225px;
	height:92px;
}

#facebook {
	position:absolute;
	left:1542px;
	top:42px;
	width:218px;
	height:92px;
}

#id1920x1080-05 {
	position:absolute;
	left:1760px;
	top:42px;
	width:160px;
	height:1038px;
}

#id1920x1080-06 {
	position:absolute;
	left:1317px;
	top:134px;
	width:443px;
	height:264px;
}

#id1920x1080-07 {
	position:absolute;
	left:0px;
	top:398px;
	width:909px;
	height:682px;
}

#youtube {
	position:absolute;
	left:909px;
	top:398px;
	width:851px;
	height:487px;
}

#id1920x1080-09 {
	position:absolute;
	left:909px;
	top:885px;
	width:851px;
	height:38px;
}

#id1920x1080-10 {
	position:absolute;
	left:909px;
	top:923px;
	width:303px;
	height:157px;
}

#primeira-sessao {
	position:absolute;
	left:1212px;
	top:923px;
	width:291px;
	height:97px;
}

#segunda-sessa {
	position:absolute;
	left:1503px;
	top:923px;
	width:257px;
	height:97px;
}

#id1920x1080-13 {
	position:absolute;
	left:1212px;
	top:1020px;
	width:548px;
	height:60px;
}
